<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>myheight</key>
		<string>145</string>
		<key>mywidth</key>
		<string>78</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>138</string>
		<key>mywidth</key>
		<string>81</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>106</string>
		<key>mywidth</key>
		<string>79</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>144</string>
		<key>mywidth</key>
		<string>69</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>102</string>
		<key>mywidth</key>
		<string>92</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>134</string>
		<key>mywidth</key>
		<string>81</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>126</string>
		<key>mywidth</key>
		<string>61</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>140</string>
		<key>mywidth</key>
		<string>85</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>147</string>
		<key>mywidth</key>
		<string>96</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>140</string>
		<key>mywidth</key>
		<string>60</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>106</string>
		<key>mywidth</key>
		<string>59</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>118</string>
		<key>mywidth</key>
		<string>98</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>119</string>
		<key>mywidth</key>
		<string>53</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>141</string>
		<key>mywidth</key>
		<string>85</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>139</string>
		<key>mywidth</key>
		<string>94</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>102</string>
		<key>mywidth</key>
		<string>74</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>118</string>
		<key>mywidth</key>
		<string>76</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>139</string>
		<key>mywidth</key>
		<string>58</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>149</string>
		<key>mywidth</key>
		<string>51</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>141</string>
		<key>mywidth</key>
		<string>95</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>121</string>
		<key>mywidth</key>
		<string>88</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>126</string>
		<key>mywidth</key>
		<string>81</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>107</string>
		<key>mywidth</key>
		<string>58</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>104</string>
		<key>mywidth</key>
		<string>52</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>121</string>
		<key>mywidth</key>
		<string>64</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>124</string>
		<key>mywidth</key>
		<string>76</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>114</string>
		<key>mywidth</key>
		<string>90</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>105</string>
		<key>mywidth</key>
		<string>69</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>105</string>
		<key>mywidth</key>
		<string>92</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>100</string>
		<key>mywidth</key>
		<string>91</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>144</string>
		<key>mywidth</key>
		<string>53</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>113</string>
		<key>mywidth</key>
		<string>85</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>100</string>
		<key>mywidth</key>
		<string>51</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>102</string>
		<key>mywidth</key>
		<string>73</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>105</string>
		<key>mywidth</key>
		<string>70</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>104</string>
		<key>mywidth</key>
		<string>66</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>109</string>
		<key>mywidth</key>
		<string>50</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>146</string>
		<key>mywidth</key>
		<string>81</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>125</string>
		<key>mywidth</key>
		<string>89</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>112</string>
		<key>mywidth</key>
		<string>91</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>128</string>
		<key>mywidth</key>
		<string>93</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>120</string>
		<key>mywidth</key>
		<string>67</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>145</string>
		<key>mywidth</key>
		<string>73</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>143</string>
		<key>mywidth</key>
		<string>86</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>122</string>
		<key>mywidth</key>
		<string>69</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>128</string>
		<key>mywidth</key>
		<string>73</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>105</string>
		<key>mywidth</key>
		<string>68</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>133</string>
		<key>mywidth</key>
		<string>63</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>115</string>
		<key>mywidth</key>
		<string>70</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>144</string>
		<key>mywidth</key>
		<string>69</string>
	</dict>
	<dict>
		<key>myheight</key>
		<string>106</string>
		<key>mywidth</key>
		<string>64</string>
	</dict>
</array>
</plist>
